
.feedback
	margin-top: 50px

.buttons
	&.buttons_2
		.button
			width: 50%
			& + .button
				width: 49%
				margin-left: 1%


.button
	padding: 12px 24px
	border-radius: 3px
	font-weight: 600
	width: 100%
	display: inline-block
	box-sizing: border-box
	text-decoration: none
	color: $text-color
	background-color: transparent
	border: 1px solid transparent

	&.button_clear
		&:hover
			border-color: $gray-text-color

	&.button_blue
		background-color: $dark-blue
		color: $white
		&:hover
			background-color: lighten($dark-blue,5%)
		&:active
			background-color: darken($dark-blue,5%)


input.input, textarea.textarea
	&.error
		$error: red
		+box-shadow(inset 0 0 1px rgba($error, 0.8), inset 0 0 1px rgba($error, 0.8))
	+placeholder
		color: lighten($text-color,40%)
	&:not(.error):focus
		+box-shadow(inset 0 0 1px rgba($dark-blue, 0.8), inset 0 0 1px rgba($dark-blue, 0.8))
	border: none
	color: $text-color
	margin-bottom: 16px
	box-sizing: border-box
	width: 100%
	padding: 12px 14px
	background-color: white
	+border-radius(3px)
	+box-shadow(inset 0 0 1px rgba(0, 0, 0, 0.8))