.out
    header.header
        .header__in
            nav.nav.nav_main
                .nav__logo
                    img(src="./img/logo.svg")
                .nav__menu.is-active
                    ul
                        li
                            a.is-active(scroll-to="#section-about-us", translate="about-us")
                        li
                            a(scroll-to="#section-features", translate="features")
                        li
                            a(scroll-to="#section-portfolio", translate="projects")
                        li
                            button(scroll-to="#section-contacts", translate="contact-us")
                .nav__toggle
                    i.icon.icon-menu
            .header__content
                h1(translate="company-mission")
            projects#projects-header(projects-src="projects")
    .wrap
        .wrap__in
            section.section.section_center.section_about-us#section-about-us
                h2(translate="about-us")
                p(translate="about-us-description")
                hr.divider

            section.section.section_features.section_left#section-features
                .section__content
                    h2(translate="features")
                    .section__img
                        img(src="./img/feature-icon.png", alt="")
                    div(ng-bind-html="'features-description' | translate | html")


            section.section.section_portfolio#section-portfolio
                hr.divider
                h2(translate="our-projects")
                projects.projects_dark#projects-portfolio(projects-src="projects")
                portfolio(portfolio-src="projects", on-install-click="openEmailDialog")
            section.section.section_contacts(id="section-contacts")
                h2(translate="contacts")
                .contacts
                    p
                        i.icon.icon-phone
                        | {{'contact-us-phone' | translate}}
                        br
                        | <a href="tel:+380967411549">+380 96 741 1549</a>
                    p
                        i.icon.icon-mail
                        | {{'and-email' | translate}}
                        br
                        a(href="mailto:info@khmarka.com.ua") info@kmarka.com.ua

                .feedback
                    form.form(id="feedbackForm", ng-submit="submitFeedback(form)", name="form")
                        label
                            input.input(type="text", required, name="name", placeholder="{{'name' | translate}}", ng-model="feedback.name")
                        label
                            input.input(type="email", required, name="email", placeholder="{{'email' | translate}}", ng-model="feedback.email")
                        label
                            input.input(type="text", required, name="company_name", placeholder="{{'companyName' | translate}}", ng-model="feedback.companyName")
                        label
                            textarea.textarea(name="text", required, cols="30", rows="10", placeholder="{{'message' | translate}}", ng-model="feedback.message")
                        button.button.button_blue(type="submit") {{feedbackButton | translate}}
            section.section.section_footer
                .footer
                    .footer__copyright
                        .copyright © Khmarka LLC
                    .footer__language
                        label.language
                            select(ng-options="obj as obj.name for obj in languages", ng-model="selectedLanguage")