
<div class="out">
  <header class="header">
    <div class="header__in">
      <nav class="nav nav_main">
        <div class="nav__logo"><img src="./img/logo.svg"/></div>
        <div class="nav__menu is-active">
          <ul>
            <li><a scroll-to="#section-about-us" translate="about-us" class="is-active"></a></li>
            <li><a scroll-to="#section-features" translate="features"></a></li>
            <li><a scroll-to="#section-portfolio" translate="projects"></a></li>
            <li><a scroll-to="#section-advantages" translate="advantages"></a></li>
            <li>
              <button scroll-to="#section-contacts" translate="contact-us"></button>
            </li>
          </ul>
        </div>
        <div class="nav__toggle"><i class="icon icon-menu"></i></div>
      </nav>
      <div class="header__content">
        <h1 translate="company-mission"></h1>
      </div>
      <projects id="projects-header" projects-src="projects"></projects>
    </div>
  </header>
  <div class="wrap">
    <div class="wrap__in">
      <section id="section-about-us" class="section section_center section_about-us">
        <h2 translate="about-us"></h2>
        <p translate="about-us-description"></p>
        <hr class="divider"/>
      </section>
      <section id="section-features" class="section section_features section_left">
        <div class="section__content">
          <h2 translate="features"></h2>
          <div class="section__img"><img src="./img/feature-icon.png" alt=""/></div>
          <div ng-bind-html="'features-description' | translate | html"></div>
        </div>
      </section>
      <section id="section-portfolio" class="section section_portfolio">
        <hr class="divider"/>
        <h2 translate="our-projects"></h2>
        <projects id="projects-portfolio" projects-src="projects" class="projects_dark"></projects>
        <portfolio portfolio-src="projects" on-install-click="openEmailDialog" class="portfolio_index"></portfolio>
      </section>
      <section id="section-advantages" class="section section_advantages">
        <hr class="divider"/>
        <h2 translate="our-advantages"></h2>
        <ul class="list list_advantages">
          <li>
            <div class="list__item">
              <h3>1. {{'profitably' | translate}}</h3>
              <p translate="profitably-desc"></p>
            </div>
          </li>
          <li>
            <div class="list__item">
              <h3>2. {{'fast' | translate}}</h3>
              <p translate="fast-desc"></p>
            </div>
          </li>
          <li>
            <div class="list__item">
              <h3>3. {{'flexibly' | translate}}</h3>
              <p translate="flexibly-desc"></p>
            </div>
          </li>
        </ul>
        <hr class="divider"/>
      </section>
      <section id="section-contacts" class="section section_contacts">
        <h2 translate="contacts"></h2>
        <div class="contacts">
          <p><i class="icon icon-phone"></i>{{'contact-us-phone' | translate}}<br/><a href="tel:+380967411549">+380 96 741 1549</a></p>
          <p><i class="icon icon-mail"></i>{{'and-email' | translate}}<br/><a href="mailto:info@khmarka.com.ua">info@kmarka.com.ua</a></p>
        </div>
        <div class="feedback">
          <form id="feedbackForm" ng-submit="submitFeedback(form)" name="form" class="form">
            <label>
              <input type="text" required="required" name="name" placeholder="{{'name' | translate}}" ng-model="feedback.name" class="input"/>
            </label>
            <label>
              <input type="email" required="required" name="email" placeholder="{{'email' | translate}}" ng-model="feedback.email" class="input"/>
            </label>
            <label>
              <input type="text" required="required" name="company_name" placeholder="{{'companyName' | translate}}" ng-model="feedback.companyName" class="input"/>
            </label>
            <label>
              <textarea name="text" required="required" cols="30" rows="10" placeholder="{{'message' | translate}}" ng-model="feedback.message" class="textarea"></textarea>
            </label>
            <button type="submit" class="button button_blue">{{feedbackButton | translate}}</button>
          </form>
        </div>
      </section>
      <section class="section section_footer">
        <div class="footer">
          <div class="footer__copyright">
            <div class="copyright">© Khmarka LLC</div>
          </div>
          <div class="footer__language">
            <label class="language">
              <select ng-options="obj as obj.name for obj in languages" ng-model="selectedLanguage"></select>
            </label>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>