
<h1> Enter email adress</h1>
<form ng-submit="submitInstallForm(form)" name="form" class="form">
  <label>
    <input name="name" type="text" required="required" ng-model="installModalForm.name" placeholder="Ваше имя" class="input"/>
  </label>
  <label>
    <input name="email" type="email" required="required" ng-model="installModalForm.email" placeholder="Введите email" class="input"/>
  </label>
  <div class="buttons">
    <button type="submit" class="button button_blue">{{installModalForm.submit}}</button>
  </div>
</form>