doctype
html(ng-app="app")
    head
        meta(charset="utf-8")
        title(translate="title")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        link(rel='shortcut icon', href='./img/favicons/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', href='./img/favicons/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='57x57', href='./img/favicons/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='72x72', href='./img/favicons/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='./img/favicons/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='./img/favicons/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='./img/favicons/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='./img/favicons/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='./img/favicons/apple-touch-icon-152x152.png')

        meta(name="format-detection" content="telephone=no")
        link(rel="stylesheet" media="all" href="css/screen.css")
    body(ng-controller="AppController")
        .remodal-bg
            .remodal(data-remodal-id='modal')
                h1.title Установка приложение
                p
                    | Для того, чтобы установить приложение, оставьте свой email. Мы отправим ссылку вам на почту.
                form.form#installForm(action="main-install.php", method="post")
                    input.input(type="email", required, placeholder="Email")
                    br
                    .buttons.buttons_2
                        a.button.button_clear.remodal-cancel(href='#') Cancel
                        a.button.button_blue.remodal-confirm(href='#', id="installApp_submit") OK

        div(ui-view)
        script(src="bower/jquery/dist/jquery.min.js")
        script(src="bower/fastclick/lib/fastclick.js")   
        script(src="bower/iscroll/build/iscroll.js")   
        script(src="bower/jquery-validation/dist/jquery.validate.min.js")
        script(src="bower/remodal/dist/jquery.remodal.js")
        script(src="js/main.js")
        script(src='bower/angular/angular.js')
        script(src='bower/angular-ui-router/release/angular-ui-router.js')
        script(src='bower/angular-translate/angular-translate.js')
        script(src='bower/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
        script(src='bower/angular-translate-loader-url/angular-translate-loader-url.js')

        script(src="js/app.js")

        script(src="js/config/fastclick.js")
        script(src="js/config/states.js")
        script(src="js/config/language.js")

        script(src="js/controllers/app-controller.js")
        script(src="js/controllers/index-controller.js")

        script(src="js/directives/navToggle.js")
        script(src="js/directives/portfolio.js")
        script(src="js/directives/projects.js")
        script(src="js/directives/scrollTo.js")

        script(src="js/filters/html.js")

        script(src="js/services/platform.js")
        script(src="js/services/scroll.js")