doctype
html
    head
        meta(charset="utf-8")
        title Khmarka
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")

        meta(name="format-detection" content="telephone=no")
        link(rel="stylesheet" media="all" href="css/screen.css")
    body

        .out
            header.header
                .header__in
                    nav.nav.nav_main
                        .nav__logo
                            img(src="./img/logo.svg")
                        .nav__menu
                            ul
                                li
                                    a.is-active О нас       
                                li 
                                    a Возможности
                                li 
                                    a Проекты
                                li  
                                    button Связаться с нами
                        .nav__toggle
                            i.icon.icon-menu
                    .header__content
                        h1 Ваше мобильное приложение без стартовых затрат
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    .projects.projects_center
                        .projects__in
                            .projects__item
                                img.icon(src="http://placehold.it/100x100", alt="")
                                span Business Bank
                            .projects__item
                                img.icon(src="http://placehold.it/100x100", alt="")
                                span Personal Bank
                            .projects__item
                                img.icon(src="http://placehold.it/100x100", alt="")
                                span Food Retail
                            .projects__item
                                img.icon(src="http://placehold.it/100x100", alt="")
                                span Gaz stations
                            .projects__item
                                img.icon(src="http://placehold.it/100x100", alt="")
                                span Sport cards
            .wrap
                .wrap__in
                    section.section.section_center.section_about-us
                        h2 О нас
                        p Мы - украинская компания разработчик мобильных приложений. В нашей команде работают специалисты с более, чем 10-летним опытом дизайна, разработки и внедрения приложений.
                        hr.divider

                    section.section.section_features.section_left
                        .section__content
                            h2 Возможности
                            .section__img
                                img(src="./img/feature-icon.png", alt="")
                            p Мы предлагаем Вам мобильное приложение без затрат на его разработку, лицензии программного обеспечений, оборудование и дальнейшее администрирование.  
                            p Наш Заказчик оплачивает только подписку на облако  KHMARKA. Единственные его затраты на внедрение и развитие мобильного приложения – ежемесячная абонплата!
                    section.section.section_portfolio
                        hr.divider
                        h2 Наши проекты
                        .projects.projects_dark.projects_center
                            .projects__in
                                .projects__item
                                    img.icon(src="http://placehold.it/100x100", alt="")
                                    span Business Bank
                                .projects__item
                                    img.icon(src="http://placehold.it/100x100", alt="")
                                    span Personal Bank
                                .projects__item
                                    img.icon(src="http://placehold.it/100x100", alt="")
                                    span Food Retail
                                .projects__item
                                    img.icon(src="http://placehold.it/100x100", alt="")
                                    span Gaz stations
                                .projects__item
                                    img.icon(src="http://placehold.it/100x100", alt="")
                                    span Sport cards
                        .portfolio
                            .portfolio__item.is-active
                                .portfolio__preview
                                    .phone
                                        .phone__inner
                                            img
                                .portfolio__item__sidebar
                                        .portfolio__icon
                                            img
                                .portfolio__item__content
                                    h3 Мобильное приложение для Юридических лиц, клиентов СМБ
                                    p Наше приложение реализует личный кабинет покупателя-клиента торговой сети. Благодаря нашему приложению, бонусная карточка всегда находится с покупателем – в его смартфоне.
                                    p С помощью нашего приложения, покупатель сможет: 
                                    ul
                                        li При покупке начислять баллы без помощи скидочной карты;
                                        li Контролировать баланс бонусного счета и просматривать историю покупок; 
                                        li Формировать список покупок и обмениваться им между членами своей семьи;
                                        li Найти ближайший магазин и проложить к нему маршрут.
                                    p А с помощью бесплатных PUSH-уведомлений Ваш клиент всегда будет в курсе Ваших последних акций и предложений!
                                    .portfolio__item__actions
                                        a 
                                            i.icon.icon-phone
                                            |Установить&nbsp;приложение
                                        a 
                                            i.icon.icon-telephone
                                            |Связаться&nbsp;с&nbsp;нами

                            .portfolio__item
                                .portfolio__item__sidebar
                                    .portfolio__icon
                                        img
                                .portfolio__preview
                                    img
                                .portfolio__item__content
                                    h3 Мобильное приложение для Юридических лиц, клиентов СМБ
                                    p Наше приложение реализует личный кабинет покупателя-клиента торговой сети. Благодаря нашему приложению, бонусная карточка всегда находится с покупателем – в его смартфоне.
                                    p С помощью нашего приложения, покупатель сможет: 
                                    ul
                                        li При покупке начислять баллы без помощи скидочной карты;
                                        li Контролировать баланс бонусного счета и просматривать историю покупок; 
                                        li Формировать список покупок и обмениваться им между членами своей семьи;
                                        li Найти ближайший магазин и проложить к нему маршрут.
                                    p А с помощью бесплатных PUSH-уведомлений Ваш клиент всегда будет в курсе Ваших последних акций и предложений!
                                    .portfolio__item__actions
                                        a 
                                            i.icon.icon-phone
                                            |Установить приложение
                                        a 
                                            i.icon.icon-telephone
                                            |Связаться с нами

                    section.section.section_contacts
                        h2 Контакты
                        .contacts
                            p
                                i.icon.icon-home
                                | Украина, г. Киев, ул. Хорива 9а, оф. 22
                            p
                                i.icon.icon-phone
                                | +380 (50) 123-4214
                            p
                                i.icon.icon-mail
                                |Партнерство: 
                                a(href="mailto: join@khmarka.com.ua") join@kmarka.com.ua
                                br
                                |Вакансии: 
                                a(href="mailto: jobs@khmarka.com.ua") jobs@kmarka.com.ua

                        .feedback
                            form.form
                                label
                                    input(type="text", name="email", placeholder="Email")
                                label
                                    input(type="text", name="company_name", placeholder="Название компании")
                                label
                                    textarea(name="text", cols="30", rows="10", placeholder="Сообщение")
                                button.button.button_blue(type="submit") Отправить
                    section.section.section_footer
                        //- .nav.nav_hor.nav_footer
                        //-     ul
                        //-         li 
                        //-             a О нас
                        //-         li  
                        //-             a Возможности
                        //-         li 
                        //-             a Контакты
                        //-         li  
                        //-             a Facebook
                        .copyright © Khmarka LLC

